.home-bg-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

@media screen and (min-width: 768px) {
  .home-bg-container {
    padding-left: 200px;
    padding-right: 100px;
  }
}

.stories-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 16px;
}
.loader-bg-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}

.posts-bg-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0px;
}
